__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
.env
.venv/
poetry.lock
.idea/
.vscode/
*.sqlite3
".cache.sqlite" 
".streamlit/secrets.toml" 
"__pycache__/" 
"*.pyc" 
"venv/" 
".venv/" 
".streamlit/secrets.toml" 
".cache.sqlite" 
".streamlit/secrets.toml" 
".cache.sqlite" 
"data/" 
"*.xlsx" 
"*.pdf" 
"components/tmprk0xo13q" 
